/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* Цвета */
  --background-color: #fff2f7;
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --primary-heading-color: #ffc2e6;
  --section-heading-color: #353430;
  --title-color: #353430;
  --text-color: #353430;
}

/* Декоративный элемент REC */
.page.theme_light .decorative-element::before {
  color: transparent;
  background-image: none;
}

@media (prefers-color-scheme: light) {
  .page {
    /* Цвета */
    --background-color: #fff2f7;
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --primary-heading-color: #ffc2e6;
    --section-heading-color: #353430;
    --title-color: #353430;
    --text-color: #353430;
  }

  /* Декоративный элемент REC */
  .decorative-element::before {
    color: transparent;
    background-image: none;
  }
}
