.page {
  /* Фон всей страницы */
  background-color: var(--background-color);
}

/* Основной контент */
.content {
  padding-block: var(--content-padding-block);
  padding-inline: var(--content-padding);
}

/* 
  Декорации
*/

.decorated-zone {
  display: grid; /* Для позиционирования дочерних элементов */
  position: relative; /* Для позиционирования декоративных элементов */
  height: 100vh; /* ОПТИМИЗИРОВАТЬ */
  gap: 10px;
}

/* Декоративный элемент REC */
.decorative-element::before {
  /* Текст */
  content: 'REC';
  font-size: var(--text-font-size);
  color: var(--accent-color);
  /* Позиционируется относительно шапки */
  position: absolute;
  inset-block-start: var(--content-padding);
  inset-inline-end: var(--content-padding);
  /* Отступ для изображения */
  padding-inline-end: 27px;
  /* Изображение */
  background-image: url('../images/ellipse.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position-x: 94%;
  background-position-y: 50%;
}

/* Декоративные уголки */
.decorated-zone::before,
.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  color: var(--button-color); /* Декоративный элемент принимает цвет кнопки */
}

/* Декоративный уголок start */
.decorated-zone::before {
  inset-block-start: var(--content-padding);
  inset-inline-end: var(--content-padding);
  border-inline-end: solid 1px currentColor;
  border-block-start: solid 1px currentColor;
}

/* Декоративный уголок end  */
.decorated-zone::after {
  inset-block-end: var(--content-padding);
  inset-inline-start: var(--content-padding);
  border-inline-start: solid 1px currentColor;
  border-block-end: solid 1px currentColor;
}

/* 
  Типографика
*/

/* Главный заголовок */
.primary-heading {
  color: var(--primary-heading-color);
  font-size: var(--primary-heading-font-size);
  text-transform: lowercase;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

/* Главный заголовок в header */
.header .primary-heading {
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Главный заголовок в footer */
.footer .primary-heading {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Дополнительный заголовок */
.title-decor {
  color: var(--title-color);
  background-color: var(--accent-color);
  font-weight: bold;
}

/* Заголовок секции */
.section_heading {
  color: var(--section-heading-color);
}

/* Заголовок статьи */
.article_heading {
  margin-block-end: var(--paragraph);
}

/* Ссылка внутри текста */
.internal_text_link {
  text-shadow: 2px 2px 0px var(--accent-color);
  border: solid 1px transparent;
  /*  */
}

/* Ссылка внутри текста при наведении */
.internal_text_link:hover {
  border-block-end-color: currentColor;
}

/* Ссылка внутри текста при неявной фокусировке */
.internal_text_link:focus {
  outline: none;
}

/* Ссылка внутри текста при явной фокусировке */
.internal_text_link:focus-visible {
  border-color: currentColor;
}

/* 
  Секции
*/

/* 
  – Секция – Header
*/

.header {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: var(--content-padding);
}

/* 
  – Секция – Header – Меню переключения темы 
*/

.header__theme-menu {
  justify-self: end; /* В мобильной версии по умолчанию */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Стили кнопок в header */
/* Системные стили кнопок обнулены в global.css */
.header__theme-menu-button {
  color: var(--button-color);
  text-transform: lowercase;
  padding: 1px 13px;
  border: solid 1px transparent; /* Чтобы не дергалась верстка при появлении border */
}

/* Конпка при наведении */
.header__theme-menu-button:hover {
  /* border меняет прозрачность на 40% от исходного цвета.
      Для реализации этого смешиваем исходный цвет с прозрачным (transparent).
        Работаем в режиме srgb для поддержки большинства экранов.
  */
  border-color: color-mix(in srgb, currentColor 40%, transparent);
}

/* Активная кнопка */
.header__theme-menu-button_active {
  border: solid 1px currentColor;
  pointer-events: none;
}

/* Кнопка при фокусировании */
.header__theme-menu-button:focus {
  outline: none; /* Сбрасываем стандартную обводку, дизайнер предложил кастомную для явной фокусировки */
}

/* Кнопка в режиме явной фокусировки */
.header__theme-menu-button:focus-visible {
  /* Кастомная обводка в виде нижнего подчеркивания */
  border: solid 1px transparent; /* Чтобы не дергалась верстка при появлении border */
  border-block-end-color: currentColor; /* Проявляем нижнее подчеркивание */
}

/* 
  – Секция – Header – Описание
*/

.header__description {
  align-self: start;
  justify-self: stretch;
}

/* 
  – Секция – Статьи
*/

/* Общие стили для всех секций со статьями */
.section_articles {
  display: grid;
  padding-block-end: 50px;
  gap: 20px;
}

/* Отступы между статьями */
.article-item:not(:last-child) {
  margin-block-end: 20px;
}

/* Если в секции используется дополнительный заголовок */
.title-decor + .article_list .title-decor {
  font-weight: normal;
}

/* 
  – Секция – Галерея
*/

.gallery {
  display: grid;
  gap: var(--content-padding);
}

.gallery img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/* 
  – Секция – Footer
*/

.footer {
  justify-content: center;
  align-items: center;
}

/* 
  Адаптация
*/

/* Общие стили для широких (не мобильных) экранов */
@media (768px <= width) {
  /* 
    Переменные
  */

  :root {
    /* Размер главного заголовка */
    --primary-heading-font-size: clamp(
      7.5rem,
      0.5625rem + 14.4531vw,
      9.8125rem
    );
    /* Отступы */
    --content-padding: 20px;
    --content-padding-block: 60px;
  }

  /* 
    Header 
  */

  .header {
    padding-inline-start: 0;
  }

  /* 
    Статьи 
  */

  /* Отступ между секциями статей */
  .section_articles {
    padding-block-end: 80px;
  }

  /* Лейаут каждой нечетной секции */
  .section_articles:nth-of-type(odd) {
    grid-template-columns: 1fr 2fr;
    gap: 0 20px;
  }

  /* Заголовок каждой нечетной секции */
  .section_articles:nth-of-type(odd) .section_heading {
    /* Растягивается с первой до последней строки */
    grid-row-start: 1;
    grid-row-end: 3;
  }

  /* Дополнительный заголовок в нечетной секции */
  .section_articles:nth-of-type(odd) .section_heading + .title-decor {
    margin-bottom: 20px;
  }

  /* Заголовок каждой четной секции */
  .section_articles:nth-of-type(even) .section_heading {
    max-inline-size: 30%;
  }

  /* 
    Галерея 
  */

  .gallery {
    /* Сетка из трех колонок */
    grid-template-columns: repeat(3, 1fr);
    /* Разрешает занимать свободное пространство */
    grid-auto-flow: dense;
  }

  /* Заголовок галереи */
  .gallery .title-decor {
    /* Растягивается с первой до последней колонки */
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* Закат */
  .gallery img:first-of-type {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /* Мороженное */
  .gallery img:nth-of-type(2) {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  /* Кассета */
  .gallery img:nth-of-type(3) {
    grid-row-start: 3;
    grid-row-end: 5;
  }

  /* Улица */
  .gallery img:last-of-type {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/* Планшет */

@media (768px <= width < 1024px) {
  /* 
    Header 
  */

  .header__description {
    justify-self: end;
    max-inline-size: 364px;
  }
}

/* Десктоп */

@media (1024px <= width) {
  /* 
    Header
  */

  /* Меню изменяет положение */
  .header__theme-menu {
    justify-self: center;
    position: absolute;
    margin-block-start: var(--content-padding);
  }

  /* Элементы меню */
  .header__theme-menu-list {
    /* Выстраиваются в ряд */
    flex-direction: row;
  }

  /* Описание */
  .header__description {
    justify-self: end;
    max-inline-size: 491px;
  }

  .header .primary-heading {
    margin-block-start: 18%;
  }

  /* 
    Статьи
  */

  /* Лейаут каждой нечетной секции */
  .section_articles:nth-of-type(odd) {
    gap: 0 10px;
  }

  .section_articles:nth-of-type(even) .article_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
