/*
  Переменные проекта и их переопределение под различные устройства
*/

:root {
  /* Цвета */
  --background-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --primary-heading-color: #db00ff;
  /* Типографика */
  --text-font-size: 18px;
}
